.analysis{
    left: 20%;
    position: absolute;
}
.finalgraph{
    margin-top: 90px;
}
.info{
    
    
    font-size: px;
    width: 700px;
    border: 5px solid rgb(128, 0, 0);
    padding: 30px;
    background-color:rgb(166, 235, 236);
      
}