select{
    width: 180px;
    height: 40px;
}
.dash-banner-weather{
    height:80vh;
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(weather-prediction.jpg);
	background-size:cover;
	background-position:center;
	color:white;
}
label{
    font-style: normal; 
    font-family: sans-serif;
}
input{
    width: 140px;
    height: 40px;
}
.form-section{
    margin-top: 120px;
}